<div class="card">
  <div class="card-block">
    <h4 class="card-title">Successfully saved</h4>
    <p class="card-text">
      We saved your booking to Google Sheet. Check it here
      https://docs.google.com/spreadsheets/d/1S8Nz1oSLZLcc66SIAVWIfYq1annDjY0iRho423xwNb0/edit?usp=sharing
    </p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
